@font-face {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Nekst-Black.woff2) format('woff2'), url(../fonts/Nekst-Black.woff) format('woff');
}

@font-face {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Nekst-Regular.woff2) format('woff2'), url(../fonts/Nekst-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Gilroy-Regular.woff2) format('woff2'), url(../fonts/Gilroy-Regular.woff) format('woff');
}
