:root {
  --main-font: 'Nekst', Arial, sans-serif;
  --second-font: 'Gilroy', Arial, sans-serif;
  --color-black: #111111;
  --color-white: #ffffff;
  --color-grey: #575757;
  --color-grey-2: #E1E1E1;
  --color-grey-3:#EBEBEC;
  --color-grey-light: #F3F3F4;
  --color-orange: #FF9514;
}